albumentations
cloudpickle
hydra-core
imageio
numpy
omegaconf
opencv-python
oss2
pandas
pillow
pycocotools
pyyaml
scikit-learn
spacy
tensorboard
tensorboardX
termcolor
tokenizers
torchvision
transformers
urllib3